
/*.label{
    margin-right: 5px;
}*/
/*
.artist-header{
    padding-bottom:20px;
    margin-bottom:20px;
    border-bottom:solid 1px #eaeef2;
    min-height: 200px;
}*/
/*
.artist-albums .well{
    margin-bottom:20px;
    overflow:auto;
    min-height: 350px;
}*/

.album{
    text-align:center;
    /*background:#e0eef9;*/
    padding: 10px 20px;
    /*border: #aaa 1px solid;*/
}

.album-thumb{
    width:100%;
}