<div *ngIf="album">
    <header class="album-header">
        <div class="row">
            <div class="col-md-4">
                <img class="album-thumb" src="{{album.images[0].url}}">
            </div>
            <div class="col-md-8 container">
                <h2>{{album.name}}</h2>
                <div *ngFor="let song of album.tracks.items">
                    <div>
                        <a href="{{song.preview_url}}" target="_blank">{{song.name}}</a>
                    </div>
                </div>
            </div>
        </div>

    </header>
</div>